h1 activities
.row
  .span4
    .well
      .row
        .span
          a(href="#")
            img(src="http://placehold.it/60x60")
    .well
      ul.nav.nav-tabs.nav-stacked
        li
          a All
        li
          a People
        li
          a(href="#offers/recently") Offer
        li
          a Need
        li
          a Event
  .span8#feedsContent
          