.row
  .span4
    .well
      .row
        .span
          a(href="#")
            img(src="public/img/60.gif")
    .well
      ul.nav.nav-tabs.nav-stacked
        //li
          a All
        //li
          a People
        li
          a(href="#activities/offer") Offer
        //li
          a Need
        //li
          a Event
  .span8#feedsContent

