form.form-horizontal.well.span6.offset3
  fieldset
    legend Create User
    .control-group.error
      .controls
    .control-group
      label.control-label(for='email')
        strong Email
      .controls
        input.input-large(name='email',type='email',placeholder='Email')
    .control-group
      label.control-label(for='first_name')
        strong First Name
      .controls
        input.input-large(name='first_name',type='text',placeholder='First name')
    .control-group
      label.control-label(for='last_name')
        strong Last Name
      .controls
        input.input-large(name='last_name',type='text',placeholder='Last name')
    .control-group
      label.control-label(for='asAdmin') As an admin
      .controls
        input(type='checkbox',name='asAdmin')
    .control-group
      .controls
        button.btn.btn-primary.btn-medium.span1(type='submit') Create
