h3 Contact Information
table.table.table-condensed.table-striped
	thead
		tr
			td
			td
			td
				a#editContactInfo edit  
	tbody
		tr
			th Mobile number country code
			td(colspan="2") 110
		tr
			th My mobilde number
			td(colspan="2") Yue
		tr 
			th Mailing Address
			td Home
			td Businese
		tr
			th Street
			td 学院路
			td 学院路
		tr 
			th City
			td Beijing
			td Beijing
		tr
			th State or Province
			td Beijing
			td Beijing
		tr
			th Zip/Postal Code
			td 100191
			td 100191
		tr
			th Country
			td China
			td China
		tr
			th Skype ID
			td buaawangyue@gmail.com	
			td buaawangyue@gmail.com