form.form-horizontal
	fieldset
		div.control-group
			label.control-label(for="mobileCountryCode") Mobile country code:
			div.controls
				input.input-xlarge(name="mobileCountryCode",type="text")(placeholder="Please enter your mobile country code")
		div.control-group
			label.control-label(for="mobileNumber") Mobile Number:
			div.controls
				input.input-xlarge(name="mobileNumber",type="text")(placeholder="Please enter your mobile number")
		div.control-group
			label.control-label(for="street") Street:
			div.controls
				input.input-xlarge(name="street",type="text")(placeholder="Please enter the street you live in")
		div.control-group
			label.control-label(for="city") City:
			div.controls
				input.input-xlarge(name="city",type="text")(placeholder="Please enter the city you live in")
		div.control-group
			label.control-label(for="state") State:
			div.controls
				input.input-xlarge(name="state",type="text")(placeholder="Please enter the state you live in")
		div.control-group
			label.control-label(for="postCode") Post code:
			div.controls
				input.input-xlarge(name="postCode",type="text")(placeholder="Please enter your post code")
		div.control-group
			label.control-label(for="country") Country:
			div.controls
				input.input-xlarge(name="country",type="text")(placeholder="Please enter your country")
		div.control-group
			label.control-label(for="skypeId") Skype ID:
			div.controls
				input.input-xlarge(name="skypeId",type="text")(placeholder="Please enter your Skype ID")
		div.form-actions
			button.btn.btn-primary.save(type="submit") Save changes
			|&nbsp;&nbsp;
			button.btn.cancel Cancel