form.form-horizontal.well.span6.offset3
  fieldset
    legend Login
    .control-group.error
      .controls
    .control-group
      label.control-label(for='email')
        strong Email
      .controls
        input.input-large(name='email',type='email',placeholder='Email')
    .control-group
      label.control-label(for='password')
        strong Password
      .controls
        input.input-large(name='password',type='password',placeholder='Password')
    .control-group
      label.control-label(for='isAdmin') I'm admin
      .controls
        input(type='checkbox',name='isAdmin')
    .control-group
      .controls
        button.btn.btn-primary.btn-medium.span1(type='submit') Login
