h3 Organization Information
table.table.table-condensed.table-striped
	thead
		tr
			td
			td
				a#editOrganization edit
	tbody
		tr
			th Organization Name
			td BUAA
		tr
			th Organization 
			td acronym
		tr 
			th Date organization formed
			td 1991.11.25
		tr
			th Organization website URL
			td www.baidu.com
		tr 
			th Number of employees
			td 200
		tr
			th Org's estimated annual budget
			td $23456
		tr
			th Organization phone number country code
			td 100191
		tr 
			th Organization phone number
			td 100