h1 Profile
div.row
	div.span8
		table.table.table-striped
			thead
				tr
					td
					td
						a#editProfile(href="#editProfile") edit my profile
			tbody
				tr
					td First Name
					td Keith
				tr
					td Last Name
					td Yue
				tr
					td Gender
					td female
				tr 
					td Lauguages that you speak
					td Chinese
				tr
					td Fields of work
					td IT
				tr
					td Target Population
					td Coders
	div.span4